
*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    background-color:#202528;
}

h2{
    position: absolute;
    padding: 10 10px;
    top : 20%;
    font-size: 60px;
    color:beige;
    cursor: pointer;
}

p{
    position: absolute;
    padding: 10 10px;
    bottom : 10%;
    color:beige;
    font-size: 25px;
    cursor: pointer;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
       }

button {
    padding: 10px;
    border: none;
    border-radius: 40px;
    margin: 3px;
    cursor: pointer;
    font-size: 20px;
    color:bisque;
    background-color: #6b5b95;
    border-color: #202528;
}

.btn:hover{
    background-color: cadetblue;
    color: black;
}

h2:hover,p:hover{
    color:cadetblue;
}
