
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: rgb(17, 17, 17);
}
  
.header {
    font-size: 20px;
    text-align: center;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 20%;
    font-weight: 900;
    font-stretch: ultra-expanded;
    color: #fff;
}

#heapArray {
    height: 270px;
    width: 598px;
    margin: auto;
    position: relative;
    margin-top: 64px;
}
  
.block {
    width: 28px;
    background-color: #6b5b95;
    position: absolute;
    bottom: 0px;
    transition: 0.2s all ease;
}
  
.block_id {
    position: absolute;
    color: #fff;
    margin-top: -20px;
    width: 100%;
    text-align: center;
}
  
.block_id2 {
    position: absolute;
    color: #fff;
    margin-top: 22px;
    width: 100%;
    text-align: center;
}
  
.block2 {
    width: 28px;
    background-color: darkgray;
    position: absolute;
    transition: 0.2s all ease;
}
  
.block_id3 {
    position: absolute;
    color: #fff;
    margin-top: 1px;
    width: 100%;
    text-align: center;
}
  
#count {
    height: 20px;
    width: 598px;
    margin: auto;
}
.btn2 {
    margin: 30px 6px;
    position:absolute;
    left: 50%;
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    color:#fff;
   background-color: #6b5b95;
}
.btn1 {
    margin: 30px 6px;
    position: absolute;
    left: 38%;
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    color:#fff;
   background-color: #6b5b95;
}
.btn1:hover{
    background-color: cadetblue;
}
.btn2:hover{
    background-color: cadetblue;
}