body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    padding: 0 20px 30px 0;
    line-height: 1.8;
    font-stretch: extra-expanded;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 20%;
    font-weight: 900;
    font-stretch: ultra-expanded;
}

.flex-container{
    margin-top: 100px;/*changed */
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 400px;
    justify-content: center;
    transition: 2s all ease;
    position: relative;
    align-items:last baseline;/*changed */
}

.btn{
    height: 50px;
    width:90px;
    color: black;
}

.btn:hover{
    color: #1074ee;
}

.flex-item{
    background: #f5ebf2;
    opacity: 0.7;
    border: 1pt solid black;
    width: 14px;
    transition: 0.1s all ease;
}
.return {
    margin: 30px 6px;
    position: absolute;
    bottom : 0%;
    right: 0%;
    padding: 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    color:#fff;
   background-color: #6b5b95;
}
.return:hover{
    background-color: brown;
}

/* .label{
    font-size: small;
    margin-top: 10px;
    -webkit-transform:rotate(270deg);
} */


.row{
    display: grid;
    grid-template-columns: 1.9fr 2fr 1.5fr;
}

#input{
    display: flex;
    padding: 10px;
    justify-content: space-around;
    width: 400px;
}